body {
  background: #202c40;
  opacity: 0.75;
}

.app {
  background: white;
  margin: 40px 80px;
  padding: 40px 80px;
  border: solid white 2px;
  border-radius: 15px;
  box-shadow: 10px;
  text-align: center;
  font-family: "Zen Loop", serif;
  font-weight: 400;
  font-style: normal;
}
